.bot {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.images-first-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 0 1%;
  height: 15%;
  img {
    height: 100%;
  }
}

.bot-container {
  position: relative;
  height: 70%;
  width: 70%;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 5vw 0 5vw 0;
  -webkit-box-shadow: 0px 0px 10px 3px $box-shadow-color;
  box-shadow: 0px 0px 10px 3px $box-shadow-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0px 0px 10px 3px $placeholder-color;
    box-shadow: inset 0px 0px 10px 3px $placeholder-color;
  }
}

.bot-input {
  position: absolute;
  right: 5vw;
  bottom: 25px;
  display: flex;
  gap: 10px;
 
  input {
    width: 250px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid $box-shadow-color;
    outline: none;
  }

  .material-icons-round {
    font-size: 24px;
    cursor: pointer;
  }
  .send-icon {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .speaker-icon {
    &:hover {
      color: $error-color;
    }
  }
}
