.bot {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.ambulance-gif {
  height: 200px;
}

.bot-container {
  position: relative;
  height: 70%;
  width: 70%;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 5vw 0 5vw 0;
  -webkit-box-shadow: 0px 0px 10px 3px $box-shadow-color;
  box-shadow: 0px 0px 10px 3px $box-shadow-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 0px 0px 10px 3px $placeholder-color;
    box-shadow: inset 0px 0px 10px 3px $placeholder-color;
  }
}

.bot-input {
  position: absolute;
  right: 5vw;
  bottom: 5px;
  border-bottom: 1px solid $box-shadow-color;
  border: none;
  outline: none;
}
